<h2>
  <%= @course.name %> Survey Questions
</h2>
<hr/>
<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th>Question</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>
<%= link_to "Add New Question", new_question_group_question_path(@question_group), :class => 'btn btn-outline' %>
